*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#1b263b;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:white;
width:420px;
padding:20px;
border-radius:15px;
box-shadow:0 10px 20px rgba(0,0,0,.3);
}

h1{
text-align:center;
margin-bottom:20px;
color:#333;
}

.input-area{
display:flex;
gap:10px;
}

input{
flex:1;
padding:10px;
font-size:16px;
}

button{
padding:10px 15px;
border:none;
cursor:pointer;
border-radius:5px;
}

#addBtn{
background:#2196f3;
color:white;
}

.filter-area{
margin:15px 0;
display:flex;
justify-content:space-between;
}

.filter{
background:#ddd;
}

.active{
background:#2196f3;
color:white;
}

li{
display:flex;
justify-content:space-between;
align-items:center;
padding:10px;
margin-top:10px;
background:#f4f4f4;
border-radius:8px;
}

.completed{
text-decoration:line-through;
color:gray;
}

.actions button{
margin-left:5px;
}

.edit{
background:orange;
color:white;
}

.delete{
background:red;
color:white;
}

.done{
background:green;
color:white;
}